In [36]:
credit_data<- read.csv("M:\\Imarticus\\ProjectR\\Credit card fraud\\Datafiles\\creditcard.csv", header = TRUE,
                              stringsAsFactors = TRUE,
                              strip.white = FALSE ,
                              sep = ',')

str(credit_data)

'data.frame':	284807 obs. of  31 variables:
 $ Time  : num  0 0 1 1 2 2 4 7 7 9 ...
 $ V1    : num  -1.36 1.192 -1.358 -0.966 -1.158 ...
 $ V2    : num  -0.0728 0.2662 -1.3402 -0.1852 0.8777 ...
 $ V3    : num  2.536 0.166 1.773 1.793 1.549 ...
 $ V4    : num  1.378 0.448 0.38 -0.863 0.403 ...
 $ V5    : num  -0.3383 0.06 -0.5032 -0.0103 -0.4072 ...
 $ V6    : num  0.4624 -0.0824 1.8005 1.2472 0.0959 ...
 $ V7    : num  0.2396 -0.0788 0.7915 0.2376 0.5929 ...
 $ V8    : num  0.0987 0.0851 0.2477 0.3774 -0.2705 ...
 $ V9    : num  0.364 -0.255 -1.515 -1.387 0.818 ...
 $ V10   : num  0.0908 -0.167 0.2076 -0.055 0.7531 ...
 $ V11   : num  -0.552 1.613 0.625 -0.226 -0.823 ...
 $ V12   : num  -0.6178 1.0652 0.0661 0.1782 0.5382 ...
 $ V13   : num  -0.991 0.489 0.717 0.508 1.346 ...
 $ V14   : num  -0.311 -0.144 -0.166 -0.288 -1.12 ...
 $ V15   : num  1.468 0.636 2.346 -0.631 0.175 ...
 $ V16   : num  -0.47 0.464 -2.89 -1.06 -0.451 ...
 $ V17   : num  0.208 -0.115 1.11 -0.684 -0.237 ...
 $ V18   : num  0.0258 -0.1834 -0.1214 1.9658 -0.0382 ...
 $ V19   : num  0.404 -0.146 -2.262 -1.233 0.803 ...
 $ V20   : num  0.2514 -0.0691 0.525 -0.208 0.4085 ...
 $ V21   : num  -0.01831 -0.22578 0.248 -0.1083 -0.00943 ...
 $ V22   : num  0.27784 -0.63867 0.77168 0.00527 0.79828 ...
 $ V23   : num  -0.11 0.101 0.909 -0.19 -0.137 ...
 $ V24   : num  0.0669 -0.3398 -0.6893 -1.1756 0.1413 ...
 $ V25   : num  0.129 0.167 -0.328 0.647 -0.206 ...
 $ V26   : num  -0.189 0.126 -0.139 -0.222 0.502 ...
 $ V27   : num  0.13356 -0.00898 -0.05535 0.06272 0.21942 ...
 $ V28   : num  -0.0211 0.0147 -0.0598 0.0615 0.2152 ...
 $ Amount: num  149.62 2.69 378.66 123.5 69.99 ...
 $ Class : int  0 0 0 0 0 0 0 0 0 0 ...

In [37]:
credit_data$Class= as.factor(credit_data$Class)

In [3]:
t.test(credit_data$Time[credit_data$Class==0],
       credit_data$Time[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$Time[credit_data$Class == 0] and credit_data$Time[credit_data$Class == 1]
t = 6.5286, df = 492.68, p-value = 1.655e-10
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
  9850.547 18332.244
sample estimates:
mean of x mean of y
 94838.20  80746.81

In [4]:
t.test(credit_data$V1[credit_data$Class==0],
       credit_data$V1[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V1[credit_data$Class == 0] and credit_data$V1[credit_data$Class == 1]
t = 15.629, df = 491.14, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 4.179263 5.381149
sample estimates:
   mean of x    mean of y
 0.008257737 -4.771948441

In [35]:
t.test(credit_data$V2[credit_data$Class==0],
       credit_data$V2[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V2[credit_data$Class == 0] and credit_data$V2[credit_data$Class == 1]
t = -18.761, df = 491.25, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.010214 -3.249884
sample estimates:
   mean of x    mean of y
-0.006270857  3.623778102

In [5]:
t.test(credit_data$V3[credit_data$Class==0],
       credit_data$V3[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V3[credit_data$Class == 0] and credit_data$V3[credit_data$Class == 1]
t = 21.976, df = 491.07, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 6.415540 7.675364
sample estimates:
  mean of x   mean of y
 0.01217092 -7.03328105

In [6]:
t.test(credit_data$V4[credit_data$Class==0],
       credit_data$V4[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V4[credit_data$Class == 0] and credit_data$V4[credit_data$Class == 1]
t = -35.116, df = 491.4, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.804460 -4.295318
sample estimates:
   mean of x    mean of y
-0.007859868  4.542029104

In [7]:
t.test(credit_data$V5[credit_data$Class==0],
       credit_data$V5[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V5[credit_data$Class == 0] and credit_data$V5[credit_data$Class == 1]
t = 13.032, df = 491.11, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 2.680757 3.632599
sample estimates:
   mean of x    mean of y
 0.005453116 -3.151224886

In [8]:
t.test(credit_data$V6[credit_data$Class==0],
       credit_data$V6[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V6[credit_data$Class == 0] and credit_data$V6[credit_data$Class == 1]
t = 16.707, df = 491.87, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 1.235490 1.564821
sample estimates:
   mean of x    mean of y
 0.002418748 -1.397736711

In [34]:
t.test(credit_data$V7[credit_data$Class==0],
       credit_data$V7[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V7[credit_data$Class == 0] and credit_data$V7[credit_data$Class == 1]
t = 17.169, df = 491.05, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 4.939975 6.216761
sample estimates:
  mean of x   mean of y
 0.00963655 -5.56873108

In [10]:
t.test(credit_data$V8[credit_data$Class==0],
       credit_data$V8[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V8[credit_data$Class == 0] and credit_data$V8[credit_data$Class == 1]
t = -1.8651, df = 491.05, p-value = 0.06276
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.17379264  0.03054591
sample estimates:
    mean of x     mean of y
-0.0009874712  0.5706358953

In [11]:
t.test(credit_data$V9[credit_data$Class==0],
       credit_data$V9[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V9[credit_data$Class == 0] and credit_data$V9[credit_data$Class == 1]
t = 22.928, df = 491.32, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 2.364023 2.807156
sample estimates:
   mean of x    mean of y
 0.004466569 -2.581122922

In [12]:
t.test(credit_data$V10[credit_data$Class==0],
       credit_data$V10[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V10[credit_data$Class == 0] and credit_data$V10[credit_data$Class == 1]
t = 25.755, df = 491.08, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 5.252881 6.120532
sample estimates:
   mean of x    mean of y
 0.009823704 -5.676882870

In [13]:
t.test(credit_data$V11[credit_data$Class==0],
       credit_data$V11[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V11[credit_data$Class == 0] and credit_data$V11[credit_data$Class == 1]
t = -31.519, df = 491.24, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -4.044049 -3.569449
sample estimates:
   mean of x    mean of y
-0.006576104  3.800172911

In [14]:
t.test(credit_data$V12[credit_data$Class==0],
       credit_data$V12[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V12[credit_data$Class == 0] and credit_data$V12[credit_data$Class == 1]
t = 29.88, df = 491.07, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 5.857917 6.682533
sample estimates:
  mean of x   mean of y
 0.01083172 -6.25939304

In [16]:
t.test(credit_data$V13[credit_data$Class==0],
       credit_data$V13[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V13[credit_data$Class == 0] and credit_data$V13[credit_data$Class == 1]
t = 2.1979, df = 492.38, p-value = 0.02842
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.01161639 0.20742964
sample estimates:
    mean of x     mean of y
 0.0001891994 -0.1093338171

In [17]:
t.test(credit_data$V14[credit_data$Class==0],
       credit_data$V14[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V14[credit_data$Class == 0] and credit_data$V14[credit_data$Class == 1]
t = 36.201, df = 491.07, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 6.604743 7.362832
sample estimates:
  mean of x   mean of y
 0.01206439 -6.97172289

In [18]:
t.test(credit_data$V15[credit_data$Class==0],
       credit_data$V15[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V15[credit_data$Class == 0] and credit_data$V15[credit_data$Class == 1]
t = 1.9654, df = 492.29, p-value = 0.04993
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 2.719045e-05 1.861519e-01
sample estimates:
    mean of x     mean of y
 0.0001608109 -0.0929287469

In [19]:
t.test(credit_data$V16[credit_data$Class==0],
       credit_data$V16[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V16[credit_data$Class == 0] and credit_data$V16[credit_data$Class == 1]
t = 23.799, df = 491.08, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 3.80473 4.48949
sample estimates:
   mean of x    mean of y
 0.007164073 -4.139945699

In [20]:
t.test(credit_data$V17[credit_data$Class==0],
       credit_data$V17[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V17[credit_data$Class == 0] and credit_data$V17[credit_data$Class == 1]
t = 21.248, df = 491.02, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 6.059906 7.294837
sample estimates:
  mean of x   mean of y
 0.01153506 -6.66583640

In [21]:
t.test(credit_data$V18[credit_data$Class==0],
       credit_data$V18[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V18[credit_data$Class == 0] and credit_data$V18[credit_data$Class == 1]
t = 17.214, df = 491.14, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 1.993351 2.507040
sample estimates:
  mean of x   mean of y
 0.00388718 -2.24630813

In [33]:
t.test(credit_data$V19[credit_data$Class==0],
       credit_data$V19[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V19[credit_data$Class == 0] and credit_data$V19[credit_data$Class == 1]
t = -9.8193, df = 491.47, p-value < 2.2e-16
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.8182704 -0.5454040
sample estimates:
   mean of x    mean of y
-0.001177864  0.680659303

In [22]:
t.test(credit_data$V20[credit_data$Class==0],
       credit_data$V20[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V20[credit_data$Class == 0] and credit_data$V20[credit_data$Class == 1]
t = -6.1415, df = 491.55, p-value = 1.688e-09
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.4922825 -0.2536449
sample estimates:
    mean of x     mean of y
-0.0006442894  0.3723193958

In [23]:
t.test(credit_data$V21[credit_data$Class==0],
       credit_data$V21[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V21[credit_data$Class == 0] and credit_data$V21[credit_data$Class == 1]
t = -4.0977, df = 491.06, p-value = 4.882e-05
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -1.0575776 -0.3720688
sample estimates:
   mean of x    mean of y
-0.001234847  0.713588353

In [24]:
t.test(credit_data$V22[credit_data$Class==0],
       credit_data$V22[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V22[credit_data$Class == 0] and credit_data$V22[credit_data$Class == 1]
t = -0.20881, df = 491.4, p-value = 0.8347
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.1464921  0.1183457
sample estimates:
    mean of x     mean of y
-2.431124e-05  1.404888e-02

In [25]:
t.test(credit_data$V23[credit_data$Class==0],
       credit_data$V23[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V23[credit_data$Class == 0] and credit_data$V23[credit_data$Class == 1]
t = 0.5669, df = 491.26, p-value = 0.571
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.09956611  0.18032155
sample estimates:
    mean of x     mean of y
 6.975193e-05 -4.030797e-02

In [26]:
t.test(credit_data$V24[credit_data$Class==0],
       credit_data$V24[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V24[credit_data$Class == 0] and credit_data$V24[credit_data$Class == 1]
t = 4.5253, df = 493.35, p-value = 7.565e-06
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 0.0595883 0.1510362
sample estimates:
    mean of x     mean of y
 0.0001819254 -0.1051303054

In [28]:
t.test(credit_data$V25[credit_data$Class==0],
       credit_data$V25[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V25[credit_data$Class == 0] and credit_data$V25[credit_data$Class == 1]
t = -1.1548, df = 491.73, p-value = 0.2487
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.11216309  0.02912186
sample estimates:
    mean of x     mean of y
-7.172626e-05  4.144889e-02

In [29]:
t.test(credit_data$V26[credit_data$Class==0],
       credit_data$V26[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V26[credit_data$Class == 0] and credit_data$V26[credit_data$Class == 1]
t = -2.4308, df = 492.78, p-value = 0.01542
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.093556386 -0.009918617
sample estimates:
    mean of x     mean of y
-8.937579e-05  5.164813e-02

In [30]:
t.test(credit_data$V27[credit_data$Class==0],
       credit_data$V27[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V27[credit_data$Class == 0] and credit_data$V27[credit_data$Class == 1]
t = -2.7527, df = 491.14, p-value = 0.00613
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.29283317 -0.04890676
sample estimates:
    mean of x     mean of y
-0.0002951754  0.1705747922

In [31]:
t.test(credit_data$V28[credit_data$Class==0],
       credit_data$V28[credit_data$Class==1])

	Welch Two Sample t-test

data:  credit_data$V28[credit_data$Class == 0] and credit_data$V28[credit_data$Class == 1]
t = -3.071, df = 491.62, p-value = 0.002251
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.12429255 -0.02730391
sample estimates:
    mean of x     mean of y
-0.0001309404  0.0756672906

In [32]:
t.test(credit_data$Amount[credit_data$Class==0],
       credit_data$VAmount[credit_data$Class==1])

	One Sample t-test

data:  credit_data$Amount[credit_data$Class == 0]
t = 188.23, df = 284310, p-value < 2.2e-16
alternative hypothesis: true mean is not equal to 0
95 percent confidence interval:
 87.37169 89.21035
sample estimates:
mean of x
 88.29102

In [ ]:
#conclusion 
# Variables V8,V15,V22,V23,V25 & V26 may not sutable for analysis because of null hypothesis.