In [8]:
# As creditcard.csv having total 284,807 transactions records, of which 492 (0.17%) are fraudulent i.e Class=1 and 
# remaning 284315 are non fraud transaction i.e Class=0. As data is very unballanced so I am doing under sampling.

In [6]:
library(readr)
credit_data<- read.csv("M:\\Imarticus\\ProjectR\\Credit card fraud\\Datafiles\\creditcard.csv", header = TRUE,
                       stringsAsFactors = TRUE,
                       strip.white = FALSE ,
                       sep = ',')
dim(credit_data)
table(credit_data$Class)

[1] 284807     31

     0      1
284315    492

In [9]:
library("sqldf")
credit_data_c1=sqldf("select * from credit_data where Class == 1")
credit_data_c0= sqldf("select * from credit_data where Class == 0 ")
nrow(credit_data_c1)
nrow(credit_data_c0)

[1] 492

[1] 284315

In [10]:
#sampling
set.seed(100)  
Row_Index <- sample(1:nrow(credit_data_c0), 0.0053*nrow(credit_data_c0))  
sample_data <- credit_data_c0[Row_Index, ]
nrow(sample_data)

[1] 1506

In [11]:
credit_data_sample<- rbind(credit_data_c1,sample_data)
nrow(credit_data_sample)

[1] 1998

In [14]:
credit_data_sample<- sqldf("select * from credit_data_sample order by Time")
nrow(credit_data_sample)

#save file for further use
write.csv(credit_data_sample,file="M:\\Imarticus\\ProjectR\\Credit card fraud\\credit_data_sample.csv")

[1] 1998

In [13]:
table(credit_data_sample$Class)

   0    1
1506  492